parameters:
    level: max
    tmpDir: .phpstan.cache
    paths:
        - config
        - src/Changelog
        - src/Coverage
        - src/PhpStan
        - tests
    excludePaths:
        - tests/PhpStan/data
